<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Include Head -->

<%- include('./partials/head.ejs' ) %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs' ) %>
	<!-- Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<%= productos[0].nombreProducto %>
			</h2>
			<p class="product-detail-description">
				<a href="/product/Add/">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/auto1.png" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= productos[0].descripcion %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>


							<img src=<%= productos[0].comentarios[0].fotoPerfil %> alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile/">
											<%= productos[0].comentarios[0].nombreUsuario %>
										</a> </strong>


								<p>
									<%= productos[0].comentarios[0].texto %>
								</p>
							</div>
						</article>
						<article>
							<img src=<%= productos[0].comentarios[0].fotoPerfil %> alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile/">
											<%= productos[0].comentarios[0].nombreUsuario %>
										</a> </strong>


								<p>
									<%= productos[0].comentarios[1].texto %>
								</p>
							</div>
						</article>
						<article>
							<img src=<%= productos[0].comentarios[0].fotoPerfil %> alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile/">
											<%= productos[0].comentarios[0].nombreUsuario %>
										</a> </strong>


								<p>
									<%= productos[0].comentarios[2].texto %>
								</p>

							</div>
						</article>


					</section>
					<form class="form" action="/product/" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->


	<!-- footer -->
	<%- include('./partials/footer.ejs' ) %>
	<!-- /footer -->

</body>

</html>